* {
    text-align: center;
}

#sentiment-content>span, #sentiment-satisfied>span, #sentiment-neutral>span, #sentiment-dissatisfied>span {
    scale: 1.8;
}

.st-emotion-cache-gi0tri {
    display: none;
}
